<footer>
    <div class="footer-content">
        <div class="footer-contact">
            <h4>Contact Us</h4>
            <p><i class="fas fa-phone"></i> 0902 5543 640</p>
            <p><i class="fas fa-envelope"></i> NCCFEtinanAKS.gmail.com.com</p>
            <p><i class="fas fa-map-marker-alt"></i> Etinan Family House, Opposite Corpers Lodge,<br>Etinan LGA, Etinan</p>
        </div>
        <div class="footer-social">
            <h4>Follow Us</h4>
            <div class="footer-social-icons">
                <a href="https://facebook.com" target="_blank"><i class="fab fa-facebook-f"></i></a>
                <a href="https://twitter.com" target="_blank"><i class="fab fa-twitter"></i></a>
                <a href="https://youtube.com" target="_blank"><i class="fab fa-youtube"></i></a>
                <a href="https://instagram.com" target="_blank"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
    </div>
    <p class="footer-rights">&copy; 2024 Etinan Family House. All rights reserved.</p>
</footer>
