<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thank You</title>
    <link rel="stylesheet" href="/css/thankyou.css">
</head>
<body>
    <div class="thank-you-container">
        <h1>Thank You for Registering!</h1>
        <h2>Welcome, Dear <%= name %> ❤️!</h2>
        <img src="/uploads/<%= passport %>" alt="<%= name %>'s Passport" class="passport"/>
        <p>We have recorded your information and your suggestion is well received</p>
        <p><a href="/register" class="register-link">Register Another User</a></p>
    </div>
</body>
</html>
